@model PinterestApp.Models.Collection

<br />

<h2 class= "mb-5 text-center">Adaugare Collection</h2>

<br />


@using (Html.BeginForm(actionName: "New", controllerName: "Collections", method: FormMethod.Post))
{

    @Html.Label("Name", "Denumire colectie")
        <br />

    @Html.TextBox("Name", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
        <br />
        <br />

        <button class="btn btn-success" type="submit">Adauga colectie</button>

}

